{% extends "base.twig" %}
{% block content %}
	{% for post in posts %}
		<style>
			.full-height{
				background-image: url('{{ post.thumbnail.src|better_resize(400) }}');
			}
			@media (min-width: 768px) {
				.full-height{
					background-image: url('{{ post.thumbnail.src|better_resize(450) }}');
				}
			}
			@media (min-width: 992px) {
				.full-height{
					background-image: url('{{ post.thumbnail.src|better_resize(600) }}');
				}
			}
			@media (min-width: 1200px) {
				.full-height{
					background-image: url('{{ post.thumbnail.src|better_resize(700) }}');
				}
			}
			@media (min-width: 1900px) {
				.full-height{
					background-image: url('{{ post.thumbnail.src|better_resize(970) }}');
				}
			}
		</style>
		<div class="page-contact-us content-nav-padding">
			<section class="row">
				<div class="col-xs-12 col-md-6">
					<h1 class="col-md-offset-1 accent">{{post.title}}</h1>
					{{post.content|wpautop}}
				</div>
				<div class="full-height hidden-xs hidden-sm col-md-6"></div>
			</section>
		</div>
	{% endfor %}
{% endblock %}
{% block source %}page-contact-us.twig{% endblock %}